FourInRowClient/FourInRowClient/Connected Services/FourInRowServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFourInRowServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFourInRowServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserPasswordFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPasswordFault" nillable="true" type="tns:UserPasswordFault" />
  <xs:complexType name="UserIdNotExistFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdNotExistFault" nillable="true" type="tns:UserIdNotExistFault" />
  <xs:complexType name="UserIdExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdExistsFault" nillable="true" type="tns:UserIdExistsFault" />
</xs:schema>